<h1>
    <p>Welcome !</p>
    <small>Registered Users</small>
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
    <tr ng-repeat="user in users | orderBy:orderBy">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>
            <input type="button" ng-click="enableAccount(this)" name="enableAccount" id="activate" value="Enable" />
            <input type="button" ng-click="disableAccount(this)" name="disableAccount" id="deactivate" value="Disable" />
        </td>
</table>
<div>
    <!-- The table has a button to manually refresh the values, in case, for example, someone else adds a user -->
    <input type="button" ng-click="refresh()" name="refresh" id="refresh" value="Refresh" />
    <input type="button" ng-click="logout()" name="logout" id="logout" value="Logout" />
</div>